<div class="account account__narrow page-width">
  <h1>{{ 'customers.recover_password.title' | t }}</h1>
  {%- form 'reset_customer_password' -%}
    {%- if form.errors -%}<div class="account__errors">{{ form.errors | default_errors }}</div>{%- endif -%}
    <div class="field"><label class="field__label" for="reset-pass">{{ 'customers.register.password' | t }}</label><input type="password" id="reset-pass" name="customer[password]" autocomplete="new-password" required></div>
    <div class="field"><label class="field__label" for="reset-confirm">Confirm password</label><input type="password" id="reset-confirm" name="customer[password_confirmation]" autocomplete="new-password" required></div>
    <button type="submit" class="btn btn--full">{{ 'customers.recover_password.submit' | t }}</button>
  {%- endform -%}
</div>
